@font-face{
    font-family: "lobster";
    src: url(../assets/fonts/Lobster-Regular.ttf);
}
@font-face{
    font-family: "comic";
    src: url(../assets/fonts/ComicNeue-Regular.ttf);
}
@font-face{
    font-family: "lato";
    src: url(../assets/fonts/Lato-Light.ttf);
}

:root{
    --purple: rgb(240, 186, 240);
    --aqua: rgba(90, 233, 221, 0.596);
    
}
body{
    margin: 0;
    background-color: var(--purple);
}

.main-img{
    height: 50%;
    width: 20%;
    position: absolute;
    top: 25%;
    left: 40%;
    border-radius: 50%;   
}

.text-1{
    color: rgb(73, 72, 72);
    text-transform: capitalize;
    padding: 50px 15px;
    background-color: var(--aqua);
    position: absolute;
    border-radius: 50%;
    font-size: 25px;
    font-family: "comic";
    font-weight: bold;
    top: 40%;
    left: 28%;
}

.text-2{
    color:rgb(73, 72, 72);
    text-transform: capitalize;
    padding: 35px 37px;
    background-color: var(--aqua);
    position: absolute;
    border-radius: 50%;
    font-size: 25px;
    font-family: "comic";
    font-weight: bold;
    top: 40%;
    right: 28%;
}

.text-3{
    color:rgb(73, 72, 72);
    text-transform: capitalize;
    padding: 50px 25px;
    background-color: var(--aqua);
    position: absolute;
    border-radius: 50%;
    font-size: 25px;
    font-family: "comic";
    font-weight: bold;
    left: 45%;
    top: 1%;
}
.wish:link,
.wish:visited{
    font-size: 40px;
    margin: 0;
    position: absolute;
    padding: 3% 25%;
    background-color: rgb(197, 64, 64);
    color: rgb(215, 220, 221);
    font-family: "lobster";
    text-transform: capitalize;
    bottom: 0;
    left: 15%;
    border-radius: 50%;
    text-decoration: none;
}
.wish:hover,
.wish:active{
    font-size: 40px;
    margin: 0;
    position: absolute;
    padding: 3% 25%;
    background-color: rgb(212, 36, 36);
    color: rgb(44, 46, 46);
    font-family: "lobster";
    text-transform: capitalize;
    bottom: 0;
    left: 15%;
    border-radius: 50%;
    text-decoration: none;
    transition: .3s;
}
.world{
    padding: 1.5% 0;
}

.m{
    font-family: "lato";
    font-size: 85px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(44, 46, 46);
    opacity: 0.5;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
svg{
    fill: rgb(44, 46, 46);
    margin-left: 10px;
    opacity: 0.5;
}

.rest{
    font-family: "lato";
    font-size: 85px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(44, 46, 46);
    opacity: 0.5;
    writing-mode: vertical-lr;
    text-orientation: upright;
}






















/* position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 90px;
    color: rgb(44, 46, 46);
    opacity: 0.1;
    font-family: "lato";;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase; */